asttokens
backcall
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
comtypes
contourpy
cycler
debugpy
decorator
distlib
executing
filelock
Flask
fonttools
fsspec
google-api-core
google-auth
google-cloud-vision
googleapis-common-protos
grpcio
grpcio-status
huggingface-hub
idna
imageio
imageio-ffmpeg
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
moviepy
mpmath
nest-asyncio
networkx
nltk
numpy
opencv-python
packaging
pandas
parso
pickleshare
Pillow
platformdirs
proglog
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
PyAudio
Pygments
pyparsing
pypiwin32
pypng
PyQRCode
pytesseract
python-dateutil

PyYAML
pyzmq
qrcode
regex
requests
rsa
safetensors
scikit-learn
scipy
seaborn
sentencepiece
six
SpeechRecognition
stack-data
sympy
threadpoolctl
tokenizers
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
virtualenv
wcwidth
webapp2
Werkzeug
gunicorn
