{%extends 'base.html'%} {%block title%} Login Page {% endblock %} {% block
body%}

<div class="container-sm">
  <h1 class="text-center mt-5 page-title">Log In</h1>
  <form method="POST" class="form-container">
    <div class="mb-3 mb-3-mg">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        autocomplete="off"
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3 mb-3-mg">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3 form-check mt-3">
      <input
        name="remember"
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
      />
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Log in</button>
  </form>
</div>

{% endblock %}
